_book/
_bookdown_files/
**/*.bib_book/
**/*.bib
figure_html/
!docs/figure_html/
# R and Rstudio specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
**/.DS_Store
.ipynb_checkpoints
08_Deep_Learning/02_Convolutional_Neural_Networks_CNNs/00_data/*
